@using Objects.Components.Library;
@using Microsoft.AspNetCore.Components.WebAssembly.Hosting;
@using Microsoft.AspNetCore.Components.Forms;
@using Services;

@inject IWebAssemblyHostEnvironment Environment
@inject ProgressService ProgressService
@inject DialogService DialogService
@inject NavigationManager NavigationManager

<h3>Library</h3>
<LoadingProgress />
@if (_userBooks.Count < 1)
{
    <RadzenCard Style="width: 332px; padding: 0; flex: none; position: relative">
        <RadzenText Text="Add a new book" Style="position: relative; margin: 0; width: 100%; height: 100%; display: flex; justify-content: center; align-items: center" />
        <InputFile title="" style="width: 100%; height: 100%; opacity: 0; position: absolute; top: 0" OnChange="@FileTypeSwitch" />
    </RadzenCard>
}
else
{
    <RadzenDataList Count="4" WrapItems="true" AllowPaging="false" Data="_userBooks" TItem="BookCover">
        <Template Context="bookCover">
            @if (_userBooks.IndexOf(bookCover) == 0)
            {
                <RadzenCard Style="width: 332px; padding: 0; flex: none; position: relative">
                    <RadzenText Text="Add a new book" Style="position: relative; margin: 0; width: 100%; height: 100%; display: flex; justify-content: center; align-items: center" />
                    <InputFile title="" style="width: 100%; height: 100%; opacity: 0; position: absolute; top: 0" OnChange="FileTypeSwitch" accept=".pdf, .epub, .fb2"/>
                </RadzenCard>
            }
            <RadzenCard Style="width: 300px; flex: none;" @onclick="@(() => OpenBook(bookCover))">
                <RadzenRow>
                    <RadzenColumn Size="10">
                        <RadzenText Text="@bookCover.Title" />
                        <RadzenText Text="@bookCover.Author" />
                    </RadzenColumn>
                    <RadzenColumn Size="2">
                        <RadzenButton Icon="delete" Variant="Variant.Text" ButtonStyle="ButtonStyle.Danger" @onclick:stopPropagation="true" Click="@(() => DeleteBook(bookCover))" />
                    </RadzenColumn>
                </RadzenRow>
            </RadzenCard>
        </Template>
    </RadzenDataList>
}