@using BlazorApp.Components
@using Objects.Constants;
@using Objects.Dto.Authentication;
@using Microsoft.AspNetCore.Components.Forms

@page "/Registration"
@attribute [AllowAnonymous]

@if (ShowRegistrationErrors)
{
    <div class="alert alert-danger" role="alert">
        @foreach (var error in Errors)
        {
            <p>@error</p>
        }
    </div>
}

<RadzenStack Gap="0" Class="rz-my-12 rz-mx-auto rz-border-radius-6 rz-shadow-10" Style="width: 100%; max-width: 520px; overflow: hidden;">
    <RadzenCard Class="rz-shadow-0 rz-border-radius-0 rz-background-color-primary rz-p-12" style="text-align: center;">
        <RadzenText TextStyle="TextStyle.DisplayH4" TagName="TagName.H2" Class="rz-color-white rz-m-0">Registration</RadzenText>
    </RadzenCard>
    <RadzenCard Class="rz-shadow-0 rz-p-8">
        <RadzenTemplateForm TItem="UserForRegistrationDto" Data="_userForRegistration" Submit="Register">
            <DataAnnotationsValidator />
            <RadzenStack Gap="1rem" class="rz-p-sm-8">
                <RadzenFormField Text="Email" Variant="Variant.Outlined">
                    <ChildContent>
                        <RadzenTextBox Name="Email" @bind-Value=_userForRegistration.Email />
                    </ChildContent>
                    <Helper>
                        <ValidationMessage For="@(() => _userForRegistration.Email)" />
                    </Helper>
                </RadzenFormField>
                <RadzenFormField Text="Password" Variant="Variant.Outlined">
                    <ChildContent>
                        <RadzenTextBox Name="Password" @bind-Value="_userForRegistration.Password" Visible="@_isPasswordVisible" />
                        <RadzenPassword Name="Password" @bind-Value=_userForRegistration.Password Visible="@(!_isPasswordVisible)" />
                    </ChildContent>
                    <End>
                        <RadzenButton Icon="@(_isPasswordVisible ? "visibility" : "visibility_off")" Click="TogglePassword" Variant="Variant.Text" Size="ButtonSize.Small" />
                    </End>
                    <Helper>
                        <ValidationMessage For="@(() => _userForRegistration.Password)" />
                    </Helper>
                </RadzenFormField>
                <RadzenFormField Text="Confirm password" Variant="Variant.Outlined">
                    <ChildContent>
                        <RadzenTextBox Name="ConfirmPassword" @bind-Value="_userForRegistration.ConfirmPassword" Visible="@_isConfirmPasswordVisible" />
                        <RadzenPassword Name="ConfirmPassword" @bind-Value=_userForRegistration.ConfirmPassword Visible="@(!_isConfirmPasswordVisible)" />
                    </ChildContent>
                    <Helper>
                        <ValidationMessage For="@(() => _userForRegistration.ConfirmPassword)" />
                    </Helper>
                </RadzenFormField>
                <RadzenFormField Text="Your native language" Variant="Variant.Outlined">
                    <ChildContent>
                        <LanguageDropdown @bind-Language="@_userForRegistration.NativeLanguage" Data="@ConstLanguages.NativeLanguagesSet"/>
                    </ChildContent>
                    <Helper>
                        <ValidationMessage For="@(() => _userForRegistration.NativeLanguage)" />
                    </Helper>
                </RadzenFormField>
                <RadzenFormField Text="Language you want to learn" Variant="Variant.Outlined">
                    <ChildContent>
                        <LanguageDropdown @bind-Language="@_userForRegistration.DesiredLanguage" Data="@ConstLanguages.DesiredLanguagesSet" />
                    </ChildContent>
                    <Helper>
                        <ValidationMessage For="@(() => _userForRegistration.DesiredLanguage)" />
                    </Helper>
                </RadzenFormField>
                <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                    <RadzenButton ButtonType="ButtonType.Submit" Size="ButtonSize.Large" Text="Submit" IsBusy="_isRegistering"></RadzenButton>
                </RadzenRow>
            </RadzenStack>
        </RadzenTemplateForm>
    </RadzenCard>
</RadzenStack>