@using BlazorApp.Components.Translator;
@using Objects.Entities.Translator;
@using Services;

@attribute [Authorize]

@if (isComponentLoading)
{
    <div style="background-color: var(--rz-base-100); position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 100;"></div>
}

<div id="reading-page" @onkeydown="@HandleKeyPress" tabindex="0">
    @CurrentPageNumber / @PagesCount
    <RadzenNumeric class="rz-ml-3 custom-numeric" ShowUpDown="false" id="page-changer" TValue="int?" Value="@insertedPageNumber" Change="JumpToPage" />

    <TranslatorWindow WordInfo="@wordInfo" WordWithTranslations="translatorWordResponse" isLoading="@isLoading" isSpeaking="@isBusy" Visible="@visible" 
        SpeakWordCallback="SpeakWord" OnWordChanged="HandleWordChanged"/>

    <div style="display: flex; justify-content: center; align-items: center">
        <RadzenButton Size="ButtonSize.Large" class="change-page-button" Variant="Variant.Text" Icon="arrow_back_ios_new" Click="PreviousPage" />
        <RadzenCard id="reader-card">
            <div id="host" @ref="host" @onclick="GetSelectedWord" style="width: 100%; height: 100%; overflow-x: clip;"></div>
        </RadzenCard>
        <RadzenButton Size="ButtonSize.Large" class="change-page-button" Variant="Variant.Text" Icon="arrow_forward_ios" Click="NextPage" />
    </div>
</div>
