@using System.Globalization;

<RadzenCard id="translator-window" class="translator-window" Visible="@Visible" Style=@($@"position: absolute; padding: 0px; max-width: 500px;
                                                left: {(WordInfo.Left).ToString(CultureInfo.InvariantCulture)}px;
                                                top: {WordInfo.Top.ToString(CultureInfo.InvariantCulture)}px; z-index: 10;")>
    @if (!isLoading)
    {
        if (WordWithTranslations is not null)
        {
            <RadzenStack Orientation="Orientation.Horizontal" class="rz-pl-3">
                <RadzenCard Variant="Variant.Text" class="rz-p-0">
                    @if (WordWithTranslations is not null)
                    {
                        if (mainTranslation is not null)
                        {
                            <RadzenRow>
                                <strong>@mainTranslation.DisplayTarget</strong>
                            </RadzenRow>
                            <RadzenCard Variant="Variant.Text" class="rz-p-0">
                                @foreach (var posTag in dict)
                                {
                                    <RadzenStack Orientation="Orientation.Horizontal">
                                        <RadzenCard Variant="Variant.Text" class="rz-p-0">
                                            @posTag.Key
                                        </RadzenCard>
                                        <RadzenCard Variant="Variant.Text" class="rz-p-0">
                                            @posTag.Value
                                        </RadzenCard>
                                    </RadzenStack>
                                }
                            </RadzenCard>
                        }
                    }
                </RadzenCard>
                <RadzenCard Variant="Variant.Text" class="rz-p-0">
                    <RadzenStack Orientation="Orientation.Horizontal" Gap="0">
                        <RadzenButton IsBusy="@isSpeaking" Icon="volume_up" Variant="Variant.Text" Click="SpeakWord" />
                        @if (WordWithTranslations.IsWordSaved)
                        {
                            <RadzenButton IsBusy="@_isDeleting" Icon="done" Variant="Variant.Text" Click="DeleteWord" />
                        }
                        else
                        {
                            <RadzenButton IsBusy="@_isSaving" Icon="add" Variant="Variant.Text" Click="AddWord" />
                        }
                        <RadzenButton IsBusy="@_isUpdating" Icon="sync" Variant="Variant.Text" Click="UpdateWord" />
                    </RadzenStack>
                </RadzenCard>
            </RadzenStack>
        }
        else
        {
            <RadzenStack class="rz-pb-5 rz-px-4">
                <RadzenRow>
                    <strong>Translations are not found</strong>
                </RadzenRow>
            </RadzenStack>
        }
    }
    else
    {
        //Skeleton loading
        <RadzenRow>
            <RadzenColumn Size="10">
                <RadzenRow>
                    <div class="skeleton-box" style="height: 10px; width: 50px; margin-top: 5px;"></div>
                </RadzenRow>
                <RadzenRow>
                    <RadzenColumn Size="4">
                        <div class="skeleton-box" style="height: 15px; width: 40px; margin-top: 8px;"></div>
                    </RadzenColumn>
                    <RadzenColumn Size="8">
                        <div class="skeleton-box" style="height: 5px; width: 100px; bottom: 0;"></div>
                        <div class="skeleton-box" style="height: 5px; width: 25px; top: 0"></div>
                    </RadzenColumn>
                </RadzenRow>
            </RadzenColumn>
            <RadzenColumn Size="2">
                <RadzenRow>
                    <RadzenIcon class="skeleton-box" Style="background-color: white;" Icon="volume_up" IconColor="gray" />
                </RadzenRow>
                <RadzenRow>
                    <RadzenIcon class="skeleton-box" Style="background-color: white;" Icon="add" IconColor="gray" />
                </RadzenRow>
            </RadzenColumn>
        </RadzenRow>
    }
</RadzenCard>